html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


html {
  height: 100% !important;
}
body {
  min-height: 100% !important;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.rs-navbar {
  background-color: #002e67 !important;
  color: white !important;
  height: 125px !important;
}

.rs-navbar-nav {
  height: 100% !important;
}

.rs-dropdown{
  height: 100% !important;
}

.rs-navbar-item{
  height: 100% !important;
}

a:focus, a:hover{
  color: white !important;
}

.rs-navbar-item:hover{
  background-color: #2491eb !important;
}

.logo{
  height: 100px !important;
}

.rs-dropdown-menu{
  margin-top: -47px !important;
}

.red{
  color: #bf0000;
}

.left{
  float: left;
}

.right{
  float: right;
}

.middle{
  text-align: center !important;
}

.m-l-30{
  margin-left: 25% !important;
}

.w-100{
  width: 100%;
}

.w-50{
  width: 50%;
}

.m-l-15{
  margin-left: 15% !important;
}

.aksieBlokkie{
  border-color: #2491eb !important;
  border: solid;
  text-align: center;
  width: auto;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
}

.scroll{
  overflow: scroll;
  height: 100%;
}

.h-100{
  height: 100%;
}

.m-3{
  margin-top: 3%;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: #002e67 !important;
  color: white;
  text-align: center;
}

@media  (max-width: 521px) {
  .logo{
    height: 50px !important;
  }
}

@media  (max-width: 471px) {
  .rs-navbar-item{
    height: 50px !important;
  }
  .rs-nav-horizontal{
    padding-left: 60px !important;
  }
}

@media  (max-width: 441px) {
  .rs-navbar-item{
    height: 50px !important;
  }


  .rs-navbar-nav{
    float: none !important;
    height: 40% !important;
  }



}